.card {
  position: relative;
  width: 320px;
  height: 509px;
  background: url(../../image/Photoshop.png);
  background-size: cover;
  margin-right: 80px;
}

.card :last-of-type {
  margin-right: 0px;
}
