@import '../node_modules/normalize.css/normalize.css';
@import './variables.scss';
@import './fonts.scss';
@import './blocks/background.scss';
@import './blocks/header.scss';
@import './blocks/cards.scss';
@import './blocks/card.scss';
@import './blocks/page.scss';