.card {
  position: relative;
  width: 320px;
  background-image: url(/image/Photoshop.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 80px;
  cursor: pointer;

  &__bg {
    width: 100%;
  }

  &__circle {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 80px;
    height: 80px;
    background: #1698d9;
    border-radius: 50%;
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__product-amount {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0 0 0 51px;
    color: #666666;
  }

  &__product-ingred {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 15px 51px;
  }

  &__product-stock {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0 0 0 51px;
    color: #666666;
  }

  &__text {
    color: #666666;
    margin-top: 21px;
    margin-left: 54px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 16.58px;
    font-weight: 400;
  }

  &__product-name {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 0 48px;
  }

  &_active {
    background-image: url(/image/active.png);

    .card__circle {
      background-color: #d91667;
    }
  }

  &:last-of-type {
    margin-right: 0px;
  }

  &:hover {
    background-image: url(/image/default-hover.png);

    .card__circle {
      background-color: #2ea8e6;
    }
  }
}